# Git
.git
.gitignore
.github

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env
.pytest_cache/
.ruff_cache/
.djlint_cache/

# Project Specific
docs/screenshots/
*.log
db.sqlite3
staticfiles/

# System
.DS_Store
Thumbs.db
